<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Operation B.O.T. </h3>
    <ul>
      <li> PHP, JavaScript, MySql</li>
    </ul>
    <p>This is a project I collaberated with when I was working at a High School. The goal was to track tardies and implement consequences to constant offenders. The program decreased tardies and absences by 70% and saved the High School saved $46k+. This program was devoloped with HTML5, CSS3, JavaScript, PHP and MySQL.</p>
    <a class="project-link" href="http://www.operationbot.com">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Skate" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Catch Of The Day </h3>
    <ul>
      <li> React.js, Firebase</li>
    </ul>
    <p>This a sample project used to feature the use of React.js and Firebase </p>
    <a class="project-link" href="http://cotd-pglvqflhmg.now.sh/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Link Shortner App </h3>
    <ul>
      <li> Meteor, React.js, MongoDB</li>
    </ul>
    <p>This is a Short Link App that allows you to create an account, shorten and visit your links! </p>
    <a class="project-link" href="https://short-lnk-carapia.herokuapp.com/>Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Skate" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Score Keep App </h3>
    <ul>
      <li> Meteor, React.js, MongoDB</li>
    </ul>
    <p>This is an app that allows you to add players and keep track of scores. </p>
    <a class="project-link" href="https://score-keep-carapia.herokuapp.com/">Check it out</a>
  </div>
</div>
