<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Operation BOT" src="{{ "/assets/img/operationbot_logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Operation B.O.T. </h3>
    <ul>
      <li> PHP, JavaScript, MySql</li>
    </ul>
    <p>This is a project I collaberated with when I was working at a High School. The goal was to track tardies and implement consequences to constant offenders. The program decreased tardies and absences by 70% and saved the High School saved $46k+. This program was devoloped with HTML5, CSS3, JavaScript, PHP and MySQL.</p>
    <a class="project-link" href="http://www.operationbot.com">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="react/firebase" src="{{ "/assets/img/react_firebase.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Catch Of The Day </h3>
    <ul>
      <li> React.js, Firebase</li>
    </ul>
    <p>This a sample project used to feature the use of React.js and Firebase </p>
    <a class="project-link" href="http://cotd-pglvqflhmg.now.sh/">Check it out</a>
  </div>
</div>
